<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Art Gallery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav col-12 justify-content-around mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/categories}">Categories</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/artists}">Artists</a>
            </li>
            <li class="nav-item dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="loadPaintings" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Paintings</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu" id="paintings">
                    <a class="dropdown-item">Painting title</a>
                </div>
            </li>
            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/users/profile}">Your Profile</a>
            </li>
            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <form th:action="@{/users/logout}" th:method="post">
                    <input class="btn btn-link nav-link" type="submit" value="Logout">
                </form>
            </li>
            <li class="nav-item dropdown show" sec:authorize="hasRole('ADMINISTRATOR')">
                <a class="btn btn-secondary dropdown-toggle" href="/admin" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrator</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/paintings/add}">Add Painting</a>
                    <a class="dropdown-item" th:href="@{/artists/add}">Add Artist</a>
                    <a class="dropdown-item" th:href="@{/orders}">Manage Orders</a>
                </div>
            </li>
            <th:block sec:authorize="!isAuthenticated()">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/users/login}">Login</a>
                </li>
            </th:block>
        </ul>
    </div>
</nav>
<script src="/js/app.js"></script>
</html>